body {
  font-family: Nunito, Courier, monospace;
}

/* Style header */
.c-header {
  display: box;
  display: flexbox;
  display: flex;
  -ms-flex-align: baseline;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  align-items: baseline;
  justify-content: center;
  padding: 0.8rem 0;
  -webkit-box-align: baseline;
  -webkit-box-pack: center;
}

@media (min-width: 950px) {
  .c-header {
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: center;
    gap: 3rem;
  }
}

.c-header__image {
  -ms-flex-order: 2;
  order: 2;
  min-width: 100px;
  max-width: 35%;
  margin: 0 15% 15px;
  -webkit-box-ordinal-group: 3;
}

@media (min-width: 950px) {
  .c-header__image {
    -ms-flex-order: 1;
    order: 1;
    margin: 0;
    -webkit-box-ordinal-group: 2;
  }
}

.c-input {
  position: relative;
  display: box;
  display: flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-order: 4;
  align-items: center;
  order: 4;
  width: 90%;
  -webkit-box-align: center;
  -webkit-box-ordinal-group: 5;
}

@media (min-width: 950px) {
  .c-input {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 50%;
  }
}

.c-header__search {
  width: 100%;
  padding: 0.25rem 0.25rem 0.35rem;
  border: none;
  border-bottom: solid 2px #7a7a7a;
}

.c-search__button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background: none;
  border: none;
}

.c-cart {
  display: box;
  display: flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-order: 3;
  align-items: center;
  order: 3;
  -webkit-box-align: center;
  -webkit-box-ordinal-group: 4;
  gap: 0.2rem;
}

.c-cart .c-cart__number {
  display: box;
  display: flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  padding: 0.3rem;
  font-weight: bold;
  color: #fff;
  background-color: #f8475f;
  border-radius: 50%;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

.c-account__button {
  display: none;
}

@media (min-width: 950px) {
  .c-account__button {
    display: box;
    display: flexbox;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-order: 3;
    -ms-flex-pack: center;
    align-items: center;
    justify-content: center;
    order: 3;
    color: #7a7a7a;
    text-decoration: none;
    -webkit-box-align: center;
    -webkit-box-ordinal-group: 4;
    -webkit-box-pack: center;
    gap: 0.5rem;
  }

  .c-account__button:hover {
    text-decoration: underline;
  }
}

.c-btn-mobile {
  position: relative;
  display: box;
  display: flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background: none;
  border: none;
  transition: 0.2s all ease;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

@media (min-width: 950px) {
  .c-btn-mobile {
    display: none;
  }
}

.c-btn-mobile::before {
  position: absolute;
  width: 2.1875rem;
  height: 0.25rem;
  content: "";
  background: #000;
  box-shadow: 0 10px 0 #000;
  transition: 0.2s all ease;
  transform: translateY(-10px);
  transform: translateY(-10px);
}

.c-btn-mobile::after {
  position: absolute;
  width: 2.1875rem;
  height: 0.25rem;
  content: "";
  background: #000;
  transition: 0.2s all ease;
  transform: translateY(10px);
  transform: translateY(10px);
}

.c-btn-mobile.u-active {
  z-index: 11;
}

.c-btn-mobile.u-active::before {
  box-shadow: 0 0 0 #000;
  transform: translateY(0) rotate(45deg);
}

.c-btn-mobile.u-active::after {
  transform: translateY(0) rotate(-45deg);
}

.c-mobile__menu {
  display: none;
  height: 0;
  transition: 0.5s all ease;
}

.c-mobile__menu.u-menu__active {
  position: absolute;
  top: -20px;
  z-index: 10;
  display: box;
  display: flexbox;
  display: flex;
  flex-direction: column;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 7rem 0;
  background: #7a7a7a;
  transition: 0.5s all ease;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: start;
  gap: 0.2rem;
}

@media (min-width: 950px) {
  .c-mobile__menu.u-menu__active {
    display: none;
  }
}

.c-mobile__link {
  z-index: 11;
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.c-mobile__link:hover {
  background: #f8475f;
}

/* Style banner */
.c-banner__carousel .c-banner__image {
  position: relative;
  left: 0.0313rem;
  height: 22.5vw;
  object-fit: cover;
}

@media (min-width: 900px) {
  .c-banner__carousel .c-banner__image {
    left: 0.5469rem;
  }
}

.slick-track {
  padding: 0 !important;
}

.slick-dots {
  bottom: 0;
}

.slick-dots li button::before {
  font-size: 0.75rem;
  line-height: 0;
  color: #fff;
  opacity: 75%;
}

.slick-dots li.slick-active button::before {
  color: #fff;
  opacity: 50%;
}

/* Style products */
.c-products {
  padding: 0 0.5rem;
  margin: 0 auto;
}

@media (min-width: 950px) {
  .c-products {
    width: 80%;
    padding: 0 1rem 2rem;
  }
}

.c-section__title-text {
  position: relative;
  font-weight: 900;
}

.c-section__title-text::before {
  position: absolute;
  top: 110%;
  width: 65px;
  height: 5px;
  content: "";
  background: #c0c0c0;
}

.slick-prev::before,
.slick-next::before {
  color: #000;
}

.c-product {
  position: relative;
  display: box;
  display: flexbox;
  display: flex;
  -ms-flex-align: center;
  flex-direction: column;
  -ms-flex-pack: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  transition: 0.2s all ease;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
}

.c-product:hover {
  transform: scale(1.05);
}

.c-product__image {
  max-width: 100%;
  object-fit: cover;
}

.c-product__infos {
  display: grid;
  -ms-flex-pack: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  padding: 1rem;
  -webkit-box-pack: center;
  -ms-grid-rows: 35px 20px 10px 35px 35px 35px;
  grid-template-areas: "name" "stars" "secondary_prize" "principal_prize" "installment" "button";
  grid-template-rows: 35px 20px 10px 35px 35px 35px;
  justify-items: center;
}

.c-product__infos:hover {
  background: #e6e8ea;
}

@media (min-width: 950px) {
  .c-product__infos {
    -ms-grid-rows: 35px 15px 10px 35px 35px 35px;
    grid-template-rows: 35px 15px 10px 35px 35px 35px;
    width: 80%;
  }
}

.c-product__name {
  font-size: 0.75rem;
  color: #7a7a7a;
  text-align: center;
  grid-area: name;
  grid-column: 1;
  grid-row: 1;
}

.c-product__infos ul {
  display: box;
  display: flexbox;
  display: flex;
  -ms-flex-align: baseline;
  -ms-flex-pack: center;
  align-items: baseline;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  -webkit-box-align: baseline;
  -webkit-box-pack: center;
  grid-area: stars;
  grid-column: 1;
  grid-row: 2;
}

.c-secondary__prize {
  grid-area: secondary_prize;
  grid-column: 1;
  grid-row: 3;
  text-align: center;
}

.c-product__installment {
  grid-area: installment;
  grid-column: 1;
  grid-row: 5;
  text-align: center;
}

.c-secondary__prize,
.c-product__installment {
  font-size: 0.75rem;
  font-weight: regular;
  color: #7a7a7a;
}

.c-principal__prize {
  font-size: 1.2rem;
  font-weight: bold;
  grid-area: principal_prize;
  grid-column: 1;
  grid-row: 4;
}

.slick-initialized .slick-slide {
  display: box;
  display: flexbox;
  display: flex;
  -ms-flex-align: center;
  flex-direction: column;
  -ms-flex-pack: center;
  align-items: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
}

.c-button {
  padding: 0 2rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  background: #000;
  border: none;
  border-radius: 5px;
  transition: 0.2s all ease;
}
.c-button:hover {
  transform: scale(1.05);
}
.c-product__infos .c-button {
  display: none;
  grid-area: button;
  grid-column: 1;
  grid-row: 6;
}

.c-product__infos:hover .c-button {
  display: box;
  display: flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  align-items: center;
  justify-content: center;
  transition: 0.2s all ease;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

.c-product__infos:hover .c-button:hover {
  transform: skew(15deg);
}

.c-off {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 200px;
  height: 200px;
  font-weight: bold;
  background-color: #f8475f;
  clip-path: polygon(65% 0, 100% 35%, 100% 0);
}

.c-off::before {
  position: absolute;
  top: 15px;
  right: 5px;
  font-weight: 900;
  color: #fff;
  content: "OFF";
}

.slick-slide {
  margin: 0 5px;
}

@media (min-width: 950px) {
  .slick-slide {
    margin: 0 20px;
  }
}

/* Style newsletter */
.c-newsletter {
  display: box;
  display: flexbox;
  display: flex;
  -ms-flex-align: center;
  flex-direction: column;
  -ms-flex-pack: center;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 0.5rem 1rem 2rem 0.5rem;
  background-color: #f2f2f2;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
}

.c-newsletter .c-button {
  -ms-flex-order: 2;
  order: 2;
  width: 90%;
  height: 50px;
  -webkit-box-ordinal-group: 3;
}

.c-newsletter .c-input__container {
  width: 100%;
}

.c-newsletter .c-input {
  -ms-flex-order: 1;
  order: 1;
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  -webkit-box-ordinal-group: 2;
}

.c-newsletter .c-input::-webkit-input-placeholder {
  font-weight: bold;
}

.c-newsletter .c-small {
  display: none;
  color: red;
}

.c-newsletter .c-small.u-small__active {
  display: inline-block;
}

@media (min-width: 950px) {
  .c-newsletter .c-button {
    -ms-flex-order: 2;
    order: 2;
    max-width: 140px;
    height: 50px;
    -webkit-box-ordinal-group: 3;
  }

  .c-newsletter .c-input {
    width: 90%;
  }

  .c-newsletter .c-input__container {
    position: relative;
    width: 25%;
  }

  .c-newsletter .c-input__container .c-small {
    position: absolute;
    margin-top: 5px;
    color: red;
  }
}

.c-form {
  display: box;
  display: flexbox;
  display: flex;
  -ms-flex-align: center;
  flex-direction: column;
  -ms-flex-pack: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  gap: 0.5rem;
}

@media (min-width: 950px) {
  .c-form {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-direction: row;
  }
}

/* Style footer */
.l-footer {
  display: box;
  display: flexbox;
  display: flex;
  -ms-flex-align: center;
  flex-direction: column;
  -ms-flex-pack: space-evenly;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 1rem;
  color: #fff;
  background-color: #000;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: space-evenly;
  gap: 1.5rem;
}

@media (min-width: 950px) {
  .l-footer {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-direction: row;
  }
}

.c-localization {
  align-self: flex-start;
  -ms-flex-item-align: start;
}

.c-localization__title {
  font-weight: 700;
}

.c-line {
  width: 45px;
  height: 5px;
  background: #fff;
}

.c-footer__cta {
  display: box;
  display: flexbox;
  display: flex;
  -ms-flex-align: center;
  flex-direction: column;
  -ms-flex-pack: space-evenly;
  align-items: center;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: space-evenly;
  gap: 0.75rem;
}

.c-footer__cta .c-button {
  display: grid;
  -ms-flex-align: center;
  align-items: center;
  width: 200px;
  height: 40px;
  font-weight: 400;
  color: #000;
  text-decoration: none;
  word-wrap: break-word;
  background: #fff;
  -webkit-box-align: center;
  -ms-grid-columns: 20% 80%;
  -ms-grid-rows: 1fr;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr;
}

.c-footer__partners {
  display: box;
  display: flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: distribute;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  -webkit-box-align: center;
}

@media (min-width: 950px) {
  .c-footer__partners {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    gap: 2rem;
    justify-content: space-evenly;
    width: auto;
  }
}

.c-part__box {
  display: grid;
  font-size: 0.625rem;
  -ms-grid-columns: 1fr;
  -ms-grid-rows: 25px 50px;
  grid-template-columns: 1fr;
  grid-template-rows: 25px 50px;
}
